body
{ 
	margin: 0; 
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	line-height: 1.5;
	background-color: #000000;
	overflow: hidden;
}

#container 
{
	position: relative;
}

#container canvas, #overlay 
{
	position: absolute;
}

h1
{
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 50px;
	padding-left: 0px;
	padding-top: 20px;
	font-weight: bold;
	line-height: 1;
}

h2
{
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: normal;
}

h3
{
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: normal;
	font-size: 15px;
}


br 
{ 
	clear: left;
}

a
{
	color: #ffffff;
}

a:visited
{
	color: #ffffff;
}

a:hover
{
	color: #e2e2e2;
}


#container ul li a
{
	color: #e2e2e2;
	text-decoration: none;
	margin-right: 10px;
}

#container ul li a:visited 
{
	color: #e2e2e2;
	text-decoration: none;
}

#container ul li a:hover, #container ul li .current 
{
	color: #ffffff;
	text-decoration: none;
}


#player
{
	width: 400px;
	height: 300px;
	background-color: '#ff0000';
	position: absolute;
	top: 0;
	left: -2000;
	/*display: none;*/
}

#startButton
{
	text-decoration: none;
	color: #a0a0a0;
	padding: 10.5px 11px;
	background-color:  white;
	display: none;
}

#overlay
{
	margin: 20px 20px 20px 20px;
}

#control
{
	display: none;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul h3
{
	text-decoration: none;
}